<div class="ui card">
  <div class="header">
    <h1><%= @bboard.name %></h1>
  </div>
    <h4><% @bboard.songs.each do |song|%></h4>
    <%= song.title %>
    <% end %>
    <hr />
    <p>What would you like to do?</p>
    <br />
    <%= link_to 'Edit Billboard', edit_bboard_path(@bboard) %>
    <br />
    <%= link_to 'Delete this Billboard', @bboard, method: :delete %>
    <br />
    <%= link_to 'Back to Billboards', bboards_path %>
</div>